<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="/img/logo.jpg" alt="" width="168px" height="116px"></a>

        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="/cart"><i class="bi bi-cart-check-fill"style="font-size:25px;color: #2ecc71;" ></i> <span>0</span></a></li>
            </ul>
            
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                {{#if user.username}}
                <div class="area-user" >
                    <div id="img-avatar">
                        <a href="/me/{{user._id}}"><img  src="{{user.avatarUrl}}" alt=""></a>
                    </div>
                </div>
                {{else}}
                <a href="/login"><i class="fa fa-user" style="font-size:30px;color: #34b86b;"></i> Login</a>
                {{/if}}
                
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/product">All Product</a>
                    <ul class="header__menu__dropdown">                                  
                        <li><a href="/product/tee">Tee</a></li>
                        <li><a href="/product/jacket">Jacket</a></li>
                        <li><a href="/product/pant">Pant</a></li>
                        
                        <li><a href="/product/short">Short</a></li>
                        <li><a href="/product/hoodie">Hoodie</a></li>
                        <li><a href="/product/accessory">Accessory</a></li>
                        <li><a href="/product/bag">Bag</a></li>
                    </ul>
                </li>
                <li><a href="/product/sale-off">Sale off</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <a class="header__cart__price btn-checkout" href="/check-out">Check Out</a>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/chuot.nguyet.9/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/nguyet.chuot/?fbclid=IwAR0902kxCUFz3vIV0iOpo1u-Od6g5BuohBYN8a2AXzDFU5iTGF1wi_7f-MQ"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCb3eal9CwlWRAEFcSymv57A"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope" style="font-size:20px;color: #34b86b;"></i> nguyetchuot15@gmail.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope" style="font-size:20px;color: #34b86b;"></i> nguyetchuot15@gmail.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/chuot.nguyet.9/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/nguyet.chuot/?fbclid=IwAR0902kxCUFz3vIV0iOpo1u-Od6g5BuohBYN8a2AXzDFU5iTGF1wi_7f-MQ"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCb3eal9CwlWRAEFcSymv57A"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="header__top__right__auth" style="position: relative;">
                                {{#if user.username}}
                                <div class="area-user" >
                                    <p style="margin-bottom: 0px;margin-right: 10px;">Hello, <h5 style="margin-right: 20px;font-weight: 550;">{{nameDisplay user.name}}</h5> </p>
                                    <div id="img-avatar" class="img-avatar">
                                        <img  src="{{user.avatarUrl}}" alt="">
                                    </div>
                                    <ul class="hidden-menu-img">
                                        <li style="display: flex; justify-content: space-between;align-items: center;position: relative;">
                                            <div style="width: 40px;height: 40px; border-radius: 50%;overflow: hidden;">
                                                <a href="/me/{{user._id}}"><img src="{{user.avatarUrl}}" alt=""></a>
                                            </div>
                                            <h4>{{user.name}}</h4>
                                            <a href="/me/{{user._id}}" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;opacity: 0;"></a>

                                        </li>
                                        <li style="display: flex; align-items: center;justify-content: space-between; position: relative;"> 
                                            <i class="bi bi-person" style="font-size: 20px; padding:6px 10px;border-radius: 50%;background-color: rgb(216, 211, 211);"></i>
                                            <a href="/me/{{user._id}}" style="font-size: 18px;">View my Info</a> 
                                            <a href="/me/{{user._id}}" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;opacity: 0;"></a>
                                        </li>
                                        <li style="display: flex; align-items: center;justify-content: space-between;position: relative;">
                                            <i class="bi bi-pencil" style="font-size: 20px; padding:6px 10px;border-radius: 50%;background-color: rgb(216, 211, 211);"></i>
                                            <a href="/me/{{user._id}}/edit/password" style="font-size: 18px;">Change password</a> 
                                            <a href="/me/{{user._id}}/edit/password" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;opacity: 0;"></a>
                                        </li>
                                        <li style="display: flex; align-items: center;justify-content: space-between;position: relative;">                              
                                            <i class="bi bi-question-circle" style="font-size: 20px; padding:6px 10px;border-radius: 50%;background-color: rgb(216, 211, 211);"></i>
                                            <a href="/me/{{user._id}}/edit/avatar" style="font-size: 18px;">Change avatar</a> 
                                            <a href="/me/{{user._id}}/edit/avatar" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;opacity: 0;"></a>
                                        </li>
                                        <li style="display: flex; align-items: center;justify-content: space-between;position: relative;"> 
                                                
                                            <i class="bi bi-box-arrow-in-right" style="font-size: 20px; padding:6px 10px;border-radius: 50%;background-color: rgb(216, 211, 211);"></i>
                                            <a href="/logout" style="font-size: 18px;">Log out</a> 
                                            <a href="/logout" style="position: absolute;top: 0;left: 0;right: 0;bottom:0;opacity: 0;"></a>
                                        </li>
                                    </ul>
                                </div>
                                {{else}}
                                <a href="/login"><i class="fa fa-user" style="font-size:30px;color: #34b86b;"></i> Login</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo" style="dislay:flex;justify-content:center">
                        <a href="/"><img src="/img/logo.jpg" alt="" width="168px" height="116px" style="margin-bottom: 10px;"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li  class="li-active"><a href="/">Home</a></li>
                            <li  class="li-active"><a href="/product">All Product</a>
                                <ul class="header__menu__dropdown">                                  
                                    <li><a href="/product/tee">Tee</a></li>
                                    <li><a href="/product/jacket">Jacket</a></li>
                                    <li><a href="/product/pant">Pant</a></li>
                                    
                                    <li><a href="/product/short">Short</a></li>
                                
                                    <li><a href="/product/hoodie">Hoodie</a></li>
                                    <li><a href="/product/accessory">Accessory</a></li>
                                    <li><a href="/product/bag">Bag</a></li>

                                </ul>
                            </li>
                            
                            <li class="li-active"><a href="/product/sale-off">Sale off</a></li>
                            <li class="li-active"><a href="/blog">Blog</a></li>
                            <li class="li-active"><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="/cart"><i class="bi bi-cart-check-fill"style="font-size:25px;color: #34b86b;" ></i> <span>0</span></a></li>
                        </ul>
                        <a class="header__cart__price btn-checkout" href="/check-out">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const liElement=document.querySelectorAll('.li-active')
        liElement.forEach(item=>{
            const arr=item.querySelector('a').href.split('/')
            const path=arr[arr.length-1]
            console.log(window.location.pathname.split('/')[1])
            if(path===window.location.pathname.split('/')[1]){
                item.classList.add('active')
            }
            if(window.location.pathname==='/product/sale-off'){
                liElement[2].classList.add('active')
                liElement[1].classList.remove('active')
            }
        })
        const menu=document.querySelector('.img-avatar');
        
        menu.addEventListener('click',()=>{
            document.querySelector('.hidden-menu-img').classList.toggle('non-hidden')
        })
        

})
</script>