
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/anhbia.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        
                        <div class="breadcrumb__option">
                            <a style="font-size: 20px;" href="/">Home</a>
                            <span style="color: white; font-size: 20px;">My profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad" style="padding: 50px 0px;">
        <div class="container">
            <div class="row" style="justify-content: center;margin-bottom: 50px;">
                <h2 style="font-weight: 700;padding: 5px;">Welcome to heaven fashion<span style="color:#2ecc71">1Beauty</span> <3 </h2>
            </div>
            <div class="row" style="gap: 10px;">
                <div class="col-lg-4 col-md-5" >
                    <div style="width: 250px; height: 250px;overflow: hidden; border-radius: 50%;text-align: center;margin:auto; border:5px solid rgb(228, 222, 222)">
                        <a href="/me/{{user._id}}"><img style="width: 100%;height: auto;" src="{{user.avatarUrl}}" alt="" id="image"></a>
                    </div>
                    <h3 style="text-align: center;margin-top: 10px;"><a href="/me/{{user._id}}">{{user.name}}</a></h3>
                </div>
                <div class="col-lg-5 col-md-7" >
                    <form method="post" enctype="multipart/form-data" >
                        <div style="align-items: center;display: flex;justify-content: center; gap: 15px;">
                            <i class="bi bi-cloud-plus" style="font-size: 100px;color:#2ecc71;position: relative; padding: 30px;border: 3px dashed #2ecc71;cursor: pointer;">
                                <input type="file" name="avatar" id="" style="position: absolute;opacity: 0;top: 0;left: 0;width: 100%;height: 100%; cursor: pointer;" required="true">
                            </i>
                            <h5 style="font-weight: 600;">Choose new avatar from your device</h5>
                        </div>
                        <button type="submit" style="border: none;outline: none;color: whitesmoke;background-color: #2ecc71;padding: 12px 25px;border-radius: 5px;margin-top: 40px;width: 200px;font-size: 20px;">Ok</button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-12" style="flex: 1;padding: 10px;">
                    <h3 style="margin-bottom: 30px;">Setting</h3>
                    <ul>
                        <li style="margin-bottom: 10px;"><a href="/me/{{user._id}}">View my information</a> </li>
                        <li style="margin-bottom: 10px;"><a href="/me/{{user._id}}/edit/password">Change password</a> </li>
                        <li style="margin-bottom: 10px;"><a href="">Change information</a> </li>
                        <li style="margin-bottom: 10px;"><a href="/me/{{user._id}}/edit/avatar">Edit my avatar</a> </li>
                        <li style="margin-bottom: 10px;"><a href="/cart">Go to my Cart</a> </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const imgEle=document.querySelector('#image')
            const inputFile=document.querySelector('input[name="avatar"]')
            let imageURL;
            inputFile.addEventListener('change',(e)=>{
                if(imageURL){
                    URL.revokeObjectURL(imageURL)
                }
                imageURL = URL.createObjectURL(e.target.files[0])
                imgEle.src=imageURL
            })
        })
    </script>