

    {{>header-bottom}}
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row" style="position: relative;">  
                <div class="col-lg-3 col-md-5 ">
                    <form id="form-search-type" style="position: relative; width: 100%;">
                        <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Caterology</h4>
                            <ul>
                                {{#each category}}
                                <li class="categoryLi"><a href="/product/{{this.tittle}}">{{upperCase this.tittle}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="2" data-max="50">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount" name="min">
                                        <input type="text" id="maxamount" name="max">
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{!-- <div class="sidebar__item sidebar__item__color--option">
                            <h4>Status</h4>
                            <div style="display: flex;justify-content: space-around;padding: 5px 10px; ">
                                <div class="btn-filter new-btn">
                                    New
                                </div>
                                <div class="btn-filter hot-btn">
                                    Hot
                                </div>
                            </div>
                        </div> --}}
                        <div  class="sidebar__item sidebar__item__color--option">
                            <h4 class="heading-sidebar">Status</h4>
                            <div class="browse-form">
                                
                                <label for="newest" style="font-size: 20px;">
                                    <input {{checkedBox type 'newest'}} type="checkbox" id="newest" name="type" value="newest" style="margin-right: 30px;width:18px;height:18px">Newest
                                </label>
                                <br>
                                <label for="bestseller" style="font-size: 20px;">
                                    <input {{checkedBox type 'bestseller'}} type="checkbox" id="bestseller" name="type" value="bestseller" style="margin-right: 30px;width:18px;height:18px">BestSeller
                                </label>
                                <br>
                                <label for="5 stars" style="font-size: 20px;">
                                    <input {{checkedBox type '5-stars'}} type="checkbox" id="5-stars" name="type" value="5-stars" style="margin-right: 30px;width:18px;height:18px">Favourite
                                </label>
                                <br>
                            </div>
                        </div>
                        <button id="btn-ok" type="submit" style=" padding: 5px 20px; border: none;outline: none; background-color: #2ecc71;border-radius: 5px;"><i class="bi bi-funnel-fill"></i>Filter</button>
                        
                    </div>
                    </form>
                    
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>{{caterologyName}}</h2>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">                             
                                <select id="sort" >
                                    <option value="">Select Sort</option>
                                    <option value="increase" data-value="increase">Sort up</option>
                                    <option value="decrease" data-value="decrease">Sort down</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span id="length">{{quantityProduct}}</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 80px;" id="allProduct">
                        {{#each products}}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}" style="display: block;position: relative;"> 
                                    <div class="discount">-{{discount pricePromotion price}}%</div>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="/product/detail/{{slug}}"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="/product/detail/{{slug}}" class="shopping-cart" data-id={{_id}} data-size={{info.[0].size}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}">
                                        <i class="fa fa-shopping-cart" data-id={{_id}} data-size={{info.[0].size}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/product/detail/{{slug}}" style="font-weight:600;font-size:20px">{{name}}</a></h6>
                                    <h4 style="color: #d0011b; font-weight: 650; text-align: center;position: relative;">${{pricePromotion}} <span style="color: #acacac;text-decoration: line-through;font-size: 16px;font-weight: 500;position: absolute; right: 35px;top: 3px;">${{price}}</span></h4>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="product__pagination">
                        
                    </div>
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>New Product</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {{#each relateProduct}}
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}">
                                        <div class="product__discount__percent">-{{discount pricePromotion price}}%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="/product/detail/{{slug}}"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="/product/detail/{{slug}}" class="shopping-cart" data-id="${item._id}" data-size="${item.info[0].size}" data-image="https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}">
                                            <i class="fa fa-shopping-cart" data-id={{_id}} data-size={{info.[0].size}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <h5><a href="/product/detail/{{slug}}">{{name}}</a></h5>
                                        <div class="product__item__price">${{this.pricePromotion}} <span>${{this.price}}</span></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="text" style="display: none;" name="min-range" value="{{min}}">
    <input type="text" style="display: none;" name="max-range" value="{{max}}">
    <input type="text" style="display: none;" name="quantityPage" value={{quantityPage}}>
    <input type="text" style="display: none;" name="currentPage" value={{currentPage}}>
    <input type="text" style="display: none;" name="categoryId" value={{categoryId}}>
<script>
    let sort=''
    const caterogy=window.location.pathname.split('/')[2]
    const discont=(a,b)=>{
        return (100-a/b*100).toFixed(0)
    }
    let allProduct;
    const renderProduct=(allProduct)=>{
        var html=allProduct.map(item=>
            `<div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}" style="display: block;position: relative; background-image: url('https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}')"> 
                        <div class="discount">-${discont(item.pricePromotion,item.price)}%</div>
                        <ul class="product__item__pic__hover">
                            <li><a href="/product/detail/${item.slug}"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/product/detail/${item.slug}" class="shopping-cart" data-id="${item._id}" data-size="${item.info[0].size}" data-image="https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}">
                            <i class="fa fa-shopping-cart" data-id="${item._id}" data-size="${item.info[0].size}" data-image="https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product/detail/${item.slug}" style="font-weight:600;font-size:20px">${item.name}</a></h6>
                        <h4 style="color: #d0011b; font-weight: 650; text-align: center;position: relative;">$${item.pricePromotion} <span style="color: #acacac;text-decoration: line-through;font-size: 16px;font-weight: 500;position: absolute; right: 35px;top: 3px;">$${item.price}</span></h4>
                    </div>
                </div>
            </div>`
        ).join(' ')
        document.querySelector('#allProduct').innerHTML=html
        document.querySelector('#length').innerText=allProduct.length
    }
    document.addEventListener('DOMContentLoaded',()=>{

        
        let minRange=parseInt(document.querySelector('input[name="min-range"]').value)
        let maxRange=parseInt(document.querySelector('input[name="max-range"]').value)
        var rangeSlider = $(".price-range"),
        minamount = $("#minamount"),
        maxamount = $("#maxamount"),
        minPrice = rangeSlider.data('min'),
        maxPrice = rangeSlider.data('max');
        rangeSlider.slider({
            range: true,
            min: minPrice,
            max: maxPrice,
            values: [minRange, maxRange],
            slide: function (event, ui) {
                minamount.val('$' + ui.values[0]);
                maxamount.val('$' + ui.values[1]);
            }
        });
        minamount.val('$' + rangeSlider.slider("values", 0));
        maxamount.val('$' + rangeSlider.slider("values", 1));


        const linkCategoryEl=document.querySelectorAll('.categoryLi a')
        linkCategoryEl.forEach(item=>{
            if(item.innerText.toLowerCase()===location.pathname.split('/')[2]){
                item.style.color='#2ecc71'
                item.style.fontSize="20px"
                item.style.fontWeight="550"
            }
        })
        const option=document.querySelectorAll('.option')
        
        option.forEach(item=>{
            item.addEventListener('click',(e)=>{
                console.log('vo day')
                sort=e.target.dataset.value
                fetch(`${window.location.href}`,{
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({sort:sort})
                })
                .then(res=>res.json())
                .then(res=>{
                    if(res.success){
                        renderProduct(res.allProduct)
                    }
                })
            })
        })

        let searchUrl='?'
        if(location.search){
            if(location.search.indexOf('page')>=0){
                searchUrl=location.search.split('page')[0]
            }
            else{
                searchUrl=location.search+'&'

            }
        }
        const paginationEl=document.querySelector('.product__pagination')
        const currentPage=parseInt(document.querySelector('input[name="currentPage"]').value)
        const quantityPage=parseInt(document.querySelector('input[name="quantityPage"]').value)
        const categoryId=document.querySelector('input[name="categoryId"]').value

        let previeousPage=currentPage>1?currentPage-1:1

        let htmlPagination=`<a href="${searchUrl}page=${previeousPage}"><i class="fa fa-long-arrow-left"></i></a>`
        for(let i=1;i<=quantityPage;i++){
            if(i===currentPage){
                htmlPagination+=`<a class="active-pagi" href="${searchUrl}page=${i}">${i}</a>`
            }
            else{
                htmlPagination+=`<a href="${searchUrl}page=${i}">${i}</a>`
            }
        }
        let nextPage=currentPage<quantityPage?currentPage+1:quantityPage
        htmlPagination+=`<a href="${searchUrl}page=${nextPage}"><i class="fa fa-long-arrow-right"></i></a>`
        paginationEl.innerHTML=htmlPagination




        
    })
</script>