{{>header-bottom}}
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
<section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item" style="position: relative;">
                            <img class="product__details__pic__item--large"
                                src="https://the-1-beauty-fashion-admin.herokuapp.com{{product.imagesUrl.[0]}}" alt="" >
                                <div class="discount">-{{discount product.pricePromotion product.price}}%</div>
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {{#each product.imagesUrl}}
                            <img data-imgbigurl="https://the-1-beauty-fashion-admin.herokuapp.com{{this}}"
                                src="https://the-1-beauty-fashion-admin.herokuapp.com{{this}}" alt="">
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.name}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{product.pricePromotion}} <span class="promotion">${{product.price}}</span></div>
                        <div class="info-product-size-header">Size {{product.info.[0].size}} : {{product.info.[0].quantity}} sản phẩm sẵn có</div>
                        <div class="info-product-size">
                            
                        </div>
                        <p style="margin-top: 30px;">{{{newLine product.des}}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" name="quantity-product">
                                </div>
                            </div>
                        </div>
                        <span  class="primary-btn btn-add-cart" style="cursor: pointer;" data-id={{product._id}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{product.imagesUrl.[0]}}">ADD TO CARD</span>
                        <ul>
                            <li><b>Availability</b> <span> <strong>{{quantity product.info}} </strong> item in Warehouse</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="/"><i class="fa fa-facebook"></i></a>
                                    <a href="/"><i class="fa fa-twitter"></i></a>
                                    <a href="/"><i class="fa fa-instagram"></i></a>
                                    <a href="/"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Review</h6>
                                    <p>
                                        <img src="/img/exchange.png" alt="">
                                        Free exchange within 3 days
                                    </p>
                                    <p>
                                        <img src="/img/geguine.png" alt="">
                                        Genuine product
                                    </p>
                                    <P>
                                        <img src="/img/freeship.png" alt="">
                                        Freeship for orders over $99
                                    </P>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>
                                        Free exchange within 3 days
                                    </p>
                                    <p>
                                        Genuine product
                                    </p>
                                    <P>
                                        Freeship for orders over $99
                                    </P>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
<section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product__discount__slider owl-carousel">
                    {{#each relateProduct}}
                    <div class="col-lg-4">
                        <div class="product__discount__item">
                            <div class="product__discount__item__pic set-bg"
                                data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{this.imagesUrl.[0]}}">
                                <div class="product__discount__percent">-{{discount this.pricePromotion this.price}}%</div>
                                <ul class="product__item__pic__hover">
                                    <li><a href="/product/detail/{{this.slug}}"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="/product/detail/{{this.slug}}" class="shopping-cart" data-id={{_id}} data-size={{info.[0].size}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}">
                                    <i class="fa fa-shopping-cart" data-id={{_id}} data-size={{info.[0].size}} data-image="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__discount__item__text">
                                <h5><a href="/product/detail/{{this.slug}}">{{this.name}}</a></h5>
                                <div class="product__item__price">${{this.pricePromotion}} <span>${{this.price}}</span></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div style="display: none;" id="JSONproduct">{{productJson}}</div>
</section>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        let product=JSON.parse(document.querySelector('#JSONproduct').innerText)
        const sizeEl=document.querySelector('.info-product-size')
        const sizeHeaderEl=document.querySelector('.info-product-size-header')

        let htmlSize=product.info.map((item,index)=>{
            return`
                <div class="info-product-size-item ${index===0?'active':''}" data-size="${item.size}" data-quantity="${item.quantity}">
                    ${item.size}
                </div>
            `
        }).join('')
        sizeEl.innerHTML=htmlSize
        const sizeItemEl=document.querySelectorAll('.info-product-size-item')
        function removeActive(){
            sizeItemEl.forEach(item=>{
                item.classList.remove('active')
            })
        }
        sizeItemEl.forEach(item=>{
            item.addEventListener('click',(e)=>{
                removeActive()
                item.classList.add('active')
                sizeHeaderEl.innerText=`Size ${e.target.dataset.size} : ${e.target.dataset.quantity} sản phẩm sẵn có`
            })
        })


        
        const btnAddCartt=document.querySelector('.btn-add-cart')
        const quantity=document.querySelector('input[name="quantity-product"]')


        btnAddCartt.addEventListener('click',(e)=>{
            let activeSize=document.querySelector('.info-product-size-item.active')
            if(user!=='false'){
                fetch(`${window.location.origin}/cart/add`,{
                    headers:{
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    method:'POST',
                    body:JSON.stringify({id:e.target.dataset.id,user:user,quantity:parseInt(quantity.value),size:activeSize.dataset.size})
                })
                .then(res=>res.json())
                .then(res=>{
                    console.log(res)
                    if(res.success){
                        getToast(e)
                        fetchCart2()
                    }
                })
            }
            else{
                console.log(JSON.parse(localStorage.getItem('cart')))
                const cart2=JSON.parse(localStorage.getItem('cart'))
                console.log(cart2)
                let newCartItem={
                    product:e.target.dataset.id,
                    infor:{
                        size:activeSize.dataset.size,
                        quantity:parseInt(quantity.value)
                    }
                }
                if(!cart2){
                    console.log(' udsfds fsdfklds fsd')
                    let newCart=[newCartItem]
                    let cartt={
                        cart:newCart
                    }
                    localStorage.setItem('cart',JSON.stringify(cartt))
                    document.querySelector('.cart-length').innerHTML=1
                }
                else{
                    let check=false;
                    for(let i=0;i<cart2.cart.length;i++){
                        if(cart2.cart[i].product===e.target.dataset.id)
                        {
                            if(cart2.cart[i].infor.size===activeSize.dataset.size){
                                cart2.cart[i].infor.quantity+=parseInt(quantity.value)
                                check=true;
                                break;
                            }
                            
                        } 
                    }
                    if(!check){
                        cart2.cart.push(newCartItem)
                    }
                    localStorage.setItem('cart',JSON.stringify(cart2))
                    document.querySelector('.cart-length').innerHTML=cart2.cart.length
                }
                getToast(e)
            }
        })

    })
</script>