

    {{>header-bottom}}
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row" style="position: relative;">  
                <div class="col-lg-3 col-md-5 ">
                    <div style="position: relative; width: 100%;">
                        <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Caterology</h4>
                            <ul>
                                {{#each category}}
                                <li><a href="/product/{{this.tittle}}">{{upperCase this.tittle}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="2" data-max="40">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount" name="min">
                                        <input type="text" id="maxamount" name="max">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Status</h4>
                            <div style="display: flex;justify-content: space-around;padding: 5px 10px; ">
                                <div class="btn-filter new-btn">New
                                    
                                </div>
                                <div class="btn-filter hot-btn">
                                    
                                    Hot</div>
                            </div>
                        </div>
                            <button id="btn-ok"style=" padding: 5px 20px; border: none;outline: none; background-color: #2ecc71;border-radius: 5px;"><i class="bi bi-funnel-fill"></i>Filter</button>
                        
                    </div>
                    </div>
                    
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>{{caterologyName}}</h2>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                
                                <select id="sort" >
                                    <option value="-1">Select Sort</option>
                                    <option value="1">Sort up</option>
                                    <option value="0">Sort down</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span id="length">{{products.length}}</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 80px;" id="allProduct">
                        {{#each products}}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}" style="display: block;position: relative;"> 
                                    <div class="discount">-{{discount pricePromotion price}}%</div>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="/product/detail/{{slug}}"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="/product/detail/{{slug}}"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="/product/detail/{{slug}}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/product/detail/{{slug}}" style="font-weight:600;font-size:20px">{{name}}</a></h6>
                                    <h4 style="color: #d0011b; font-weight: 650; text-align: center;position: relative;">${{pricePromotion}} <span style="color: #acacac;text-decoration: line-through;font-size: 16px;font-weight: 500;position: absolute; right: 35px;top: 3px;">${{price}}</span></h4>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>New Product</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {{#each relateProduct}}
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{imagesUrl.[0]}}">
                                        <div class="product__discount__percent">-{{discount pricePromotion price}}%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="/product/detail/{{slug}}"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="/product/detail/{{slug}}"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="/product/detail/{{slug}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <h5><a href="/product/detail/{{slug}}">{{name}}</a></h5>
                                        <div class="product__item__price">${{this.pricePromotion}} <span>${{this.price}}</span></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>
    const caterogy=window.location.pathname.split('/')[2]
    const discont=(a,b)=>{
        return (100-a/b*100).toFixed(0)
    }
    let allProduct;
    const renderProduct=(allProduct)=>{
        var html=allProduct.map(item=>
            `<div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}" style="display: block;position: relative; background-image: url('https://the-1-beauty-fashion-admin.herokuapp.com${item.imagesUrl[0]}')"> 
                        <div class="discount">-${discont(item.pricePromotion,item.price)}%</div>
                        <ul class="product__item__pic__hover">
                            <li><a href="/product/detail/${item.slug}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="/product/detail/${item.slug}"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="/product/detail/${item.slug}"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product/detail/${item.slug}" style="font-weight:600;font-size:20px">${item.name}</a></h6>
                        <h4 style="color: #d0011b; font-weight: 650; text-align: center;position: relative;">$${item.pricePromotion} <span style="color: #acacac;text-decoration: line-through;font-size: 16px;font-weight: 500;position: absolute; right: 35px;top: 3px;">$${item.price}</span></h4>
                    </div>
                </div>
            </div>`
        ).join(' ')
        document.querySelector('#allProduct').innerHTML=html
        document.querySelector('#length').innerText=allProduct.length
    }
    document.addEventListener('DOMContentLoaded',()=>{
        document.querySelector('#btn-ok').addEventListener('click',(e)=>{
            const min=document.querySelector('#minamount').value
            const max=document.querySelector('#maxamount').value
            const status=document.querySelector('.clicked')?.innerText 
            fetch('http://localhost:3000/product',{
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({min,max,status,caterogy})
            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                console.log(res.allProduct)
                if(res.success){
                    allProduct=res.allProduct
                    renderProduct(allProduct)
                }
            })
        })
        const eleBtnFilter=document.querySelectorAll('.btn-filter')
        eleBtnFilter.forEach(item=>{
            item.addEventListener('click',(e,index)=>{
                console.log('da click')
                let iEle = document.createElement("i")
                iEle.classList.add('bi')
                iEle.classList.add('bi-check-lg')
                eleBtnFilter.forEach((ii,idd)=>{
                    if(ii.querySelector('i')){
                        ii.querySelector('i').remove()
                    }
                })
                item.appendChild(iEle)
                const min=document.querySelector('#minamount').value
                const max=document.querySelector('#maxamount').value
                const status=item.innnerText
                item.classList.add('clicked')
            })
        })
        const option=document.querySelectorAll('.option')
        option.forEach(item=>{
            item.addEventListener('click',()=>{
                console.log(typeof item.dataset.value)
                if (allProduct){
                    if(item.dataset.value=='1'){
                        console.log('vo day 1')
                        let newProduct=allProduct.sort((a,b)=>{
                            return a.pricePromotion-b.pricePromotion
                        })
                        renderProduct(newProduct)
                    }
                    else if (item.dataset.value=='0'){
                        console.log('vo day 2')
                        let newProduct=allProduct.sort((a,b)=>{
                        return b.pricePromotion-a.pricePromotion
                        })
                        renderProduct(newProduct)
                    }
                }
                else{
                    const min=document.querySelector('#minamount').value
                    const max=document.querySelector('#maxamount').value
                    const status=document.querySelector('.clicked')?.innerText 
                    fetch('http://localhost:3000/product',{
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify({min,max,status,caterogy})
                    })
                    .then(res=>res.json())
                    .then(res=>{
                        console.log(res.allProduct)
                        if(res.success){
                            allProduct=res.allProduct
                            if(item.dataset.value=='1'){
                                console.log('vo day 1')
                                let newProduct=allProduct.sort((a,b)=>{
                                    return a.pricePromotion-b.pricePromotion
                                })
                                renderProduct(newProduct)
                            }
                            else if (item.dataset.value=='0'){
                                console.log('vo day 2')
                                let newProduct=allProduct.sort((a,b)=>{
                                return b.pricePromotion-a.pricePromotion
                                })
                                renderProduct(newProduct)
                            }
                        }
                    })
                }
                
            })
        })
    })
</script>