{{>header-bottom}}
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item" style="position: relative;">
                            <img class="product__details__pic__item--large"
                                src="https://the-1-beauty-fashion-admin.herokuapp.com{{product.imagesUrl.[0]}}" alt="" >
                                <div class="discount">-{{product.discount}}%</div>
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {{#each product.imagesUrl}}
                            <img data-imgbigurl="/img/product/details/product-details-2.jpg"
                                src="https://the-1-beauty-fashion-admin.herokuapp.com{{this}}" alt="">
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.name}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{product.price}} <span class="promotion">${{product.pricePromotion}}</span></div>
                        <p>{{product.des}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="/" class="primary-btn">ADD TO CARD</a>
                        <a href="/" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span> <strong>{{product.quantity}} </strong> item in Warehouse</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="/"><i class="fa fa-facebook"></i></a>
                                    <a href="/"><i class="fa fa-twitter"></i></a>
                                    <a href="/"><i class="fa fa-instagram"></i></a>
                                    <a href="/"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Review</h6>
                                    <p>
                                        <img src="/img/exchange.png" alt="">
                                        Free exchange within 3 days
                                    </p>
                                    <p>
                                        <img src="/img/geguine.png" alt="">
                                        Genuine product
                                    </p>
                                    <P>
                                        <img src="/img/freeship.png" alt="">
                                        Freeship for orders over $99
                                    </P>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>
                                        Free exchange within 3 days
                                    </p>
                                    <p>
                                        Genuine product
                                    </p>
                                    <P>
                                        Freeship for orders over $99
                                    </P>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product__discount__slider owl-carousel">
                    {{#each relateProduct}}
                    <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="https://the-1-beauty-fashion-admin.herokuapp.com{{this.imagesUrl.[0]}}">
                                            <div class="product__discount__percent">-{{this.discount}}%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="/"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="/product/detail/{{this.slug}}"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="/"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <h5><a href="/product/detail/{{this.slug}}">{{this.name}}</a></h5>
                                            <div class="product__item__price">${{this.pricePromotion}} <span>${{this.price}}</span></div>
                                        </div>
                                    </div>
                                </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>